/* .home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.statCards {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  width: 30%;
} */
